body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
}

h1 {
  color: #4d65ff;
  border-bottom: red 2px solid;
}

button {
  background-color: #4d65ff;
  color: white;
}

button:hover {
<<<<<<< HEAD
  background-color: #0b22b9
}
a {
  text-decoration: none;
}

button a {
    color: white;
=======
  background-color: rgb(187, 9, 62);
>>>>>>> feature/style-ameliore
}